.card {
  margin-top: 56px; /* Adjust this value to keep space for top navigation */
   /* Set height to fill remaining viewport height */
}
body {
  color: #566787;
  background: #f5f5f5;
  font-family: 'Varela Round', sans-serif;
  font-size: 13px;
}
.table-responsive {
  max-height: 800px;
  min-width:min-content;
}

.table-wrapper {
  min-width: 1000px;
  background: #fff;
  padding: 20px 25px;

  box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.btn {
  color: #000000;
  float: right;
  font-size: 13px;
  background: lightgrey;
  border: none;
  min-width: 50px;
  border-radius: 2px;
  border: none;
  outline: none !important;
  margin-left: 10px;
}
