
  <!-- Sidebar -->
  <nav *ngIf="isLoggedIn()" id="sidebarMenu" class="d-lg-block sidebar">
    <div class="position-sticky">
      <div class="list-group list-group-flush mx-3 mt-4">
        <a href="#" class="list-group-item list-group-item-action py-4 ripple"
           [routerLink]="['/dashboard']"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{ exact: true }">
          <span>Main Dashboard</span>
        </a>
        <a *ngIf="isAdmin()" href="#" class="list-group-item list-group-item-action py-4 ripple"
           [routerLink]="['/userManagment']"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{ exact: true }">
          <span>User Management</span>
        </a>
      </div>
    </div>
  </nav>
  <!-- Sidebar -->

