body {
  color: #566787;
  background: #f5f5f5;
  font-family: 'Varela Round', sans-serif;
  font-size: 13px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 120px);
  background: #fff;
}

.text-end{
  padding-top: 10px;
}

.row:first-child label {
  padding-top: 10px;
}


