@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

:root {
  /* Backgrounds */
  --dark_gray: rgb(51, 54, 63);
  --blue: rgb(62, 83, 121);

  /* Font colors */
  --main_headline: cornflowerblue;
}

.mother {
  position: absolute;
  top: 60px;
  left: 240px;
  bottom: 20px;
  right: 0;
  overflow-y: auto;
}

#main-navbar {
  background-color: var(--blue);
  z-index: 1000;
}

#sidebarMenu {
  background-color: var(--dark_gray);
  color: var(--dark_gray);
}

h1, h2, h3 {
  color: var(--main_headline);
}

html, body {
  height: 100%;
  margin: 0;
  font-family: sans-serif;
}
