/* Existing styles */
.form-control,
.mat-form-field,
.mat-input-element {
  width: 100%;
  background-color: var(--light-gray);
  color: #000;
}

.table-responsive {
  max-height: 800px;
  overflow-y: auto;
}

.card-body {
  margin-left: 10px;
}

.table-wrapper {
  min-width: 600px;
  background: var(--white);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  position: relative;
}

.btn {
  color: var(--white);
  float: right;
  font-size: 15px;
  min-width: 50px;
  border-radius: 2px;
  margin-left: 10px;
  margin-bottom: 10px;
}

table.table {
  width: 100%;
  border-collapse: collapse;
}

table.table tr th,
table.table tr td {
  border-color: #e9e9e9;
  padding: 12px 15px;
  vertical-align: middle;
}

table.table thead th {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #638bd4;
  font-weight: bold;
}

table.table td a {
  font-weight: bold;
  color: var(--main-content);
  display: inline-block;
  text-decoration: none;
}

table.table td a.settings {
  color: var(--settings);
}

table.table td a.delete {
  color: var(--danger);
}

.btn-primary {
  background-color: var(--btn-primary-bg);
  border-color: var(--btn-primary-border);
}

.btn-primary:hover {
  background-color: var(--btn-primary-hover-bg);
  border-color: var(--btn-primary-hover-border);
}

.btn-secondary {
  background-color: var(--btn-secondary-bg);
  border-color: var(--btn-secondary-border);
}

.btn-secondary:hover {
  background-color: var(--btn-secondary-hover-bg);
  border-color: var(--btn-secondary-hover-border);
}

.is-invalid .form-control,
.is-invalid .mat-form-field-underline {
  border-color: var(--danger) !important;
}

.is-invalid .mat-form-field-outline {
  border-color: var(--danger) !important;
}
